<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>3 en raya</title>
    <link href="https://cdn.jsdelivr.net/npm/normalize.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="css/spectre.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script defer src="js/main.js"></script>
    <style>
        .raya3 {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            margin-top: 1rem;
        }
        .raya3__casilla {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            width: 500px;
            text-align: center;
            font-size: 2rem;
        }

        .raya3__opcion {
            border: 1px solid black;
            padding: 1rem 0;
        }
    </style>
</head>
<body>
<div id="app">
    <!-- Seleccionar jugar -->
    <select v-model="jugador">
        <option value="1">Jugador 1</option>
        <option value="2">Jugador 2</option>
    </select>

    <!-- Tablero -->
    <div class="raya3">
        <div v-for="(x, indiceX) in casillas" class="raya3__casilla">
            <div @click="marcar(indiceX, indiceY)" v-for="(y, indiceY) in x" class="raya3__opcion">
                {{ y }}
            </div>
        </div>
    </div>
</div>
</body>
</html>